<!DOCTYPE html>
<html>
    <head>
        <title>{{ name }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <h1>{{ name }}</h1>
        <picture>
            <source srcset="{{ image }}"/>
        </picture>
        <p>File: <code>{{ path }}</code></p>
        <p>{{ desc }}</p>
    </body>
</html>
