<!DOCTYPE html>
<html>
    <head>
        <title>{{ name }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <h1>{{ name }}</h1>
        {% if video is defined %}
        <table>
            <tr>
                <td>
                    <img class="game-image game-image--half" src="{{ image }}"/>
                </td>
                <td>
                    <video class="game-video game-video--half" autoplay loop>
                        <source src="{{ video }}" type="video/mp4">
                    </video>
                </td>
            </tr>
        <table>
        {% else %}
            <p><img class="game-image game-image--full" src="{{ image }}"/></p>
        {% endif %}

        <table class="list">
            <tr class="list-row">
                <td class="list-column list-column--name">
                    File
                </td>
                <td class="list-column list-column--full">
                    <code>{{ path }}</code>
                </td>
            </tr>
            <tr class="list-row">
                <td class="list-column list-column--name">
                    Genre
                </td>
                <td class="list-column list-column--full">
                    <code>{{ genre }}</code>
                </td>
            </tr>
            <tr class="list-row">
                <td class="list-column list-column--name">
                    Language
                </td>
                <td class="list-column list-column--full">
                    <code>{{ lang }}</code>
                </td>
            </tr>
        </table>

        <blockquote>{{ desc }}</blockquote>
    </body>
</html>
