<!DOCTYPE html>
<html>
    <head>
        <title>{{ system.name }}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <h1><img class="system-logo" src="{{ system.logo }}" alt="{{ system.name }}"/></h1>
        <table class="list">
        {% for game in games %}
            <tr class="list-row">
                <td class="list-column list-column--thumbnail">
                    <a href="{{ game.sanitizedName }}.html">
                        <img class="list-thumbnail" src="{{ game.generatedThumbnail }}" alt="{{ game.name }}"/>
                    </a>
                </td>
                <td class="list-column list-column--full">
                    <a href="{{ game.sanitizedName }}.html">{{ game.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>

    </body>
</html>
