<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <table>
        {% for game in games %}
            <tr>
                <td>
                    <a href="{{ game.sanitizedName }}.html">
                        <img class="list-thumbnail" src="{{ game.thumbnail }}" alt="{{ game.name }}"/>
                    </a>
                </td>
                <td>
                    <a href="{{ game.sanitizedName }}.html">{{ game.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>

    </body>
</html>
